<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jsp01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DelServlet</display-name>
    <servlet-name>DelServlet</servlet-name>
    <servlet-class>com.dz.web.DelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelServlet</servlet-name>
    <url-pattern>/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToUpdate</display-name>
    <servlet-name>ToUpdate</servlet-name>
    <servlet-class>com.dz.web.ToUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToUpdate</servlet-name>
    <url-pattern>/toupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNews</display-name>
    <servlet-name>AddNews</servlet-name>
    <servlet-class>com.dz.web.AddNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNews</servlet-name>
    <url-pattern>/addnews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToLoginServlet</display-name>
    <servlet-name>ToLoginServlet</servlet-name>
    <servlet-class>com.dz.web.ToLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToLoginServlet</servlet-name>
    <url-pattern>/tologin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MsgListServlet</display-name>
    <servlet-name>MsgListServlet</servlet-name>
    <servlet-class>com.dz.web.MsgListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MsgListServlet</servlet-name>
    <url-pattern>/msglist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeServlet</display-name>
    <servlet-name>ChangeServlet</servlet-name>
    <servlet-class>com.dz.web.ChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeServlet</servlet-name>
    <url-pattern>/change</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToLogonServlet</display-name>
    <servlet-name>ToLogonServlet</servlet-name>
    <servlet-class>com.dz.web.ToLogonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToLogonServlet</servlet-name>
    <url-pattern>/tologon</url-pattern>
  </servlet-mapping>
</web-app>